/**
 * 有道词典划词扩展 V3 - 可添加单词本，记录、导出查询历史！
 * @version v3.2.3
 * @link https://github.com/g8up/youDaoDict
 * @author g8up
 */
body {
  overflow-x: hidden;
  width: 230px;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-family: "微软雅黑", 'Microsoft YaHei', Arial, sans-serif;
  font-size: 13px;
  color: #3b4045;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3d4f4), color-stop(0.9, white), to(white)) no-repeat;
}
a,
a:hover,
a:visited {
  text-decoration: none!important;
}
img.logo {
  margin: 5px;
  border-width: 0px;
  vertical-align: middle;
  width: 82px;
  height: 22px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  font-size: 0;
}
.form-control {
  display: table-cell;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #46c3c1;
  box-shadow: inset 0 1px 1px rgba(102, 175, 233, 0.1), 0 0 5px rgba(102, 175, 233, 0.3);
  outline: 0;
}
.btn {
  border: 1px solid transparent;
  box-shadow: none;
  -webkit-user-select: none;
  -webkit-appearance: button;
}
.btn:active {
  background-color: #2b9d9b;
  color: #fff;
  border: #2b9d9b solid 1px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
}
.btn:active,
.btn:focus {
  outline: none;
}
.form-control,
.btn {
  height: 30px;
  padding: 4px 8px;
  vertical-align: middle;
  border-radius: 4px;
  line-height: 1.428571429;
  font-size: 14px;
}
.keyword {
  width: 75%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search {
  width: 25%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
  border-color: #4685C3;
  background-color: #469DC3;
  color: white;
}
section + section {
  margin-top: 5px;
}
#options {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  -webkit-user-select: none;
}
#options input[type=checkbox] {
  vertical-align: middle;
}
#options .conf-item {
  height: 25px;
  line-height: 25px;
}
/*
 * 搜索历史
 * @author Sigma
 */
#cache a {
  cursor: pointer;
  padding-left: 2px;
  line-height: 20px;
}
#history_count {
  width: 40px;
  color: inherit;
}
#backup {
  font-size: 10px;
  margin-left: 2px;
  cursor: pointer;
}
footer {
  text-align: right;
}
footer a {
  display: inline-block;
  height: 22px;
  width: 22px;
  text-decoration: none;
}
footer a img {
  display: inline-block;
  height: 22px;
  width: 22px;
}
.popup .history-count {
  display: none;
}
.word-speech {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 3px;
  background: url("image/voice-btn.png") no-repeat;
  background-size: 26px 14px;
  background-position-x: -14px;
  background-position-y: 0px;
  cursor: pointer;
}
.word-speech:hover {
  background-position-x: 0;
}
.add-to-note {
  box-sizing: border-box;
  width: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #77b4e2;
}
.add-to-note:hover {
  color: #3ba5d6;
}
#login-youdao {
  cursor: pointer;
}
.link,
.link:hover,
.link:visited {
  text-decoration: none;
  color: #666;
}
